/* Custom Cairo Indie Filmmakers Club colors */
.bg-cairo-red {
  background-color: #f52e38;
}

.bg-cairo-purple {
  background-color: #390c86;
}

.bg-cairo-mint {
  background-color: #cef2e7;
}

.text-cairo-red {
  color: #f52e38;
}

.text-cairo-purple {
  color: #390c86;
}
